body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    background-attachment:fixed;
    margin: 0px;
    width: 100%;
    overflow-x: hidden; 
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

hr {
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    border: none;
}

main {
    position: relative;
}

.container {
    width: 950px;
    max-width: 950px;
    border-radius: 20px;
    margin: 3rem auto;
    background-color: white;
    box-shadow: 20px 20px 20px 0px #00000029;
    display: flex;
    flex-direction: row;
    height: 30rem;
    overflow: hidden;
}

.container .svg-side {
    display: flex;
    width: 50%;
}

.container .svg-side .patt {
    transform: translate(-6.5rem, 2rem);
}

.container .svg-side .patt-mob {
    display: none;
}

.container .svg-side .first {
    transform: translate(-36rem, 3rem);
    position: relative;
    width: 100%;
    height: 80%;
}

.container .svg-side .first-mob {
    display: none;
}

.container .svg-side .sec {
    transform: translate(-5.8rem, 12rem);
    position: absolute;
    animation: MoveUpDown 3.5s linear infinite; 
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translate(-5.8rem, 13rem);
    }
    50% {
        transform: translate(-5.8rem, 11rem);
    }
}

.container .text-side {
    color: hsl(238, 29%, 16%);
    font-size: 12px;
    width: 48%;
    margin-top: 3rem;
    margin-right: 6rem;
}

.container .text-side h1 {
    padding-left: 1rem;
    font-size: 30px;
}

.container .accordion .acc {
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    color: hsl(238, 29%, 16%);
    padding: 1rem;
    padding-bottom: 10px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.container .accordion .acc:hover {
    color: hsl(14, 88%, 65%);
}

.active {
    font-weight: bold !important;
}

.container .accordion .panel {
    padding: 0 15px;
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.acc:after {
    content: url(images/icon-arrow-down.svg);
    font-size: 25px;
    color: hsl(14, 88%, 65%);;
    float: right;
    margin-left: 5px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 5%;
}

@media (max-width: 1050px) {
    body {
        background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    }

    .container {
        width: 325px;
        max-width: 325px;
        height: 35rem;
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        overflow: visible;
    }

    .container .svg-side {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 18%;
    }

    .container .svg-side .patt {
        display: none;
    }
    
    .container .svg-side .patt-mob {
        display: block;
        width: 70%;
    }
    
    .container .svg-side .first {
    display: none;
    }
    
    .container .svg-side .first-mob {
        display: block;
        width: 70%;
        transform: translateY(-13rem);
    }

    .container .svg-side .sec {
        display: none;
    }

    .container .text-side {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .text-side h1 {
        padding-left: 0;
        font-size: 3em;
    }

    .container .text-side .accordion {
        margin: 0 1rem;
    }
}
